<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whackamole">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@drawable/whackamole_start"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whackamole_start"
        android:supportsRtl="true"
        android:theme="@style/Theme.Whackamole">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Whackamole.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LogingActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".login.SignupActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>


        <activity android:name=".game.StartGameActivity" />
        <activity android:name=".game.MenuGameActivity" />
        <activity
            android:name=".game.OptionsActivity"
            android:parentActivityName=".game.MenuGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".game.MenuGameActivity" />
        </activity>

        <activity
            android:name=".game.ScoresActivity"
            android:parentActivityName=".game.MenuGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".game.MenuGameActivity" />
        </activity>


        <activity
            android:name=".game.MultiplayerNewActivity"
            android:parentActivityName=".game.MenuGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".game.MenuGameActivity" />
        </activity>

        <activity
            android:name=".game.MultiplayerInvitationActivity"
            android:parentActivityName=".game.MenuGameActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".game.MenuGameActivity" />
        </activity>

    </application>

</manifest>